{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

      <blockquote class="blockquote">
	<p>We’d love to hear from you.
  
  </blockquote> 
<div>
  <div><i class="bi-envelope" style="font-size: 1.5rem;"></i>
    <a href='mailto:thefilmsomewomen@gmail.com'>thefilmsomewomen@gmail.com</a></div>
  <div><i class="bi-facebook" style="font-size: 1.5rem;"></i>
    <a href='https://www.facebook.com/somewomendocumentary'>@somewomendocumentary</a></div>
  <div><i class="bi-instagram" style="font-size: 1.5rem;"></i>
    <a href='https://www.instagram.com/somewomendocumentary/'>#somewomendocumentary</a></div>
</div>
    
    </div>
{% endblock %}
