{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
      <h1>{{title}}</h1>
      <ul>
	<li>Written and Directed by Quen Wong 
	<li>Featuring Quen Wong, Sanisa, Lune Loh, Francis Bond, Dominic Wong, June Chua, Amy Tashiana, Judy Chia  
	<li>Cinematographer &amp; Editor: Looi Wan Ping
	<li>Producer &amp; Location Sound: Ziq Low
	<li>Additional Camera: Damien Goh
	<li>Original Music: August Lum
	<li>Audio Post Production: Cheng Lijie
	<li>Colourist: Junbin Chen, CSI
	<li>Graphic Design: CROP
	<li>Executive Producer: Glen Goei
	<li>Production Company: Tiger Tiger Pictures
      </ul>
      <hr>
      <ul>
	<li>Webpage by Francis Bond and Quen Wong
	<li>Transgender icon
	  by <a href="https://www.flaticon.com/free-icons/transgender"
		title="transgender icons">Ecelop - Flaticon</a>
      </ul>	  
      <hr>
      <h4>Quen Wong <span class='subtitle'>(writer and director)</span></h4>

      <img src="{{ url_for('static', filename='img/quen-bio.jpg') }}"
      width = '300px' class="img-thumbnail float-left img-fluid" />
      <p>Quen Wong is a Singaporean filmmaker. In 2018, she
	directed <a href="https://youtu.be/25r5D_zHtUw">‘Building
	  Bridges’</a>, one of five short films created for
	Singapore’s Pink Dot protest against Section 377A, the law
	criminalising sex between consenting males.</p>
      
      <p>Quen’s body of work also includes ‘Power and
	Piety: The Hellfire Nation’ (2018), an essay film
	about the influence of Christian evangelicalism
	on American politics. Hosted by BAFTA-
	winner Mobeen Azhar, the film was syndicated
	on National Geographic Australia and BBC
	Arabic. Quen also directed ‘Undercover Asia:Treatment or Torture’ (2014), an investigation
	of human rights abuses allegedly taking place in
	drug rehabilitation centres in Cambodia. It was
	syndicated on AETN Asia.

      <p>Previously, Quen was an award-winning trailer producer and
	content creator with National Geographic Channel Asia. She
	clinched Promax/BDA (Asia) Gold Awards for Best Interstitial:
	Nat Geo’s Top 30 Winner (2009) and Best Script: Preserve our
	Planet (2008), among others.

      <p>Some Women’ is Quen’s first feature film. It
	was a recipient of the Tan Ean Kiam Foundation
	– SGIFF Southeast Asian Documentary Grant
	(SEADOC) in 2019 and the IDFA (International
	Documentary Film Festival Amsterdam) Project
	Award at Docs by the Sea in 2020.</p>
	  
      <h4>Looi Wan Ping <span class='subtitle'>(cinematographer and editor)</span></h4>
      
      <p>Looi Wan Ping is a founding member of the film collective 13
Little Pictures. He was conferred the Young Artist Award in 2012 by
the National Arts Council, Singapore’s highest award for young arts
practitioners. In 2016, he was selected for the Berlinale Talents.</p>
      <p>Looi shot Daniel Hui’s ‘Demons’ (Berlinale Forum 2019), shot
and edited Lei Yuan Bin’s ‘I Dream of Singapore’ (Berlinale Panorama
2020), and shot and edited Tan Bee Thiam’s ‘Tiong Bahru Social Club’
(Busan 2020).</p>
	
	<h4>Low Zi Qi <span class='subtitle'>(producer and location sound)</span></h4>
      <p>Low Zi Qi is a Singaporean filmmaker and alumnus from LASALLE
College of the Arts’s Puttnam School of Film. Her personal works
usually explore the themes of identity and existentialism. She is the
associate producer of Lei Yuan Bin’s ‘I Dream of Singapore’ (Berlinale
Panorama 2020) and Tan Bee Thiam’s ‘Tiong Bahru Social Club’
(2020). ‘Some Women’ is her first feature-length documentary as a
Producer.</p>
	
	<h4>Glen Goei <span class='subtitle'>(executive
	    producer)</span></h4>

	  <img src="{{ url_for('static', filename='img/glen-bio.jpg') }}"
      width = '300px' class="img-thumbnail float-left img-fluid" />
      <p>Glen is one of Singapore’s leading film and theatre
	directors. Glen’s feature, Forever Fever (1998),
	was the first Singapore film to be screened at the
	Sundance Film Festival and the first to achieve
	a worldwide commercial release. His second film, The Blue Mansion (2009) premiered at
	the Busan International Film Festival and won
	the Best Film and Best Director Awards at the
	SPH Entertainment Awards. His most recent
	directorial work “Revenge of the Pontianak”
	clinched the highest box office record for a
	Malay language film in Singapore and sold to
	Netflix even before its commercial release.
	For the past six years, Glen has served as
	Chairman of the Board of Directors of the Asian
	Film Archive, an institution dedicated to the
	conservation, preservation and restoration of
	Asian cinema.
      <p>He was also the co-founder and co-author of
	Ready4Repeal, a petition and movement to
	repeal Section 377A of Singapore’s Penal Code,
	a law that criminalizes sex between gay men.
      <p>Glen has created the <i>Unseen  series</i> of original, feature
	length documentaries giving voice to
	marginalised communities in South East
	Asia. The first was “I Dream of Singapore”,
	an observational documentary about migrant
	workers who become casualties from workplace
	related accidents. It premiered internationally
	and in competition at the Berlin International
	Film Festival (2020).
      <p>‘Some Women’ is the second film in this series.</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      
	
    </div>
{% endblock %}
