{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
      <h2>Now showing</h2>
   <ul>
	<li><a href="https://sheffdocfest.com/film/some-women">Sheffield
	Film Festival  (get tickets here)</a>
	  <ul>
	    <li>Sat 25 June 15:45 - 17:16 (The Light - Screen 6)  
	    <li>Sun 26 June 20:15 - 21:46 (Odeon - Screen 3)
	    <li>Tue 28 June 18:30 - 20:01 (Curzon - Screen 1)
	  </ul>
      </ul>
      <h3>Private Screening are possible (in Singapore)</h3>
      <ul>
      <li><a href='https://theprojector.sg/venue-hire/'>Get a
	    private screening @ The Projector</a>
      	<li><a href='https://www.gv.com.sg/GVGroupBookings'>Get a private screening @ Golden Village</a>
      </ul>
      <hr>
      <h2>Past Screenings</h2>
      <ul>
	<li>2022-03-24 &ndash; 04-27
	  <br> <a href='https://www.gv.com.sg/GVMovieDetails#/movie/3087/cinema/15C'>Golden Village</a>: Gemini Funan, GV Funan, GV VivoCity
	<li>2022-03-24 &ndash; 05-01
	  <br> The Projector: Golden Mile, Riverside Point
	<li>2022-03-19 <small>(SOLD OUT)</small>
	  <br> The Projector, Singapore —  with post-screening Q&amp;A
	  <br> AWARE's <i>Break Free!</i>  International Women's Day Celebration 
	
	<li>2022-03-12 <small>(SOLD OUT)</small>
	  <br> The Projector, Singapore 
	<li>2022-03-08 <small>(SOLD OUT)</small>
	    <br> The Projector, Singapore — with post-screening Q&amp;A
	    <br>Opening film of
	    the <a href="https://theprojector.sg/themes/women-make-film-festival-2022/">Women Make Film Festival 2022</a>
	<li>2021-12-05 <small>(SOLD OUT)</small>
	    <br><a href='https://sgiff.com/films/some-women/'>Singapore
	      International Film Festival</a>
	    <br>Audience Choice Award Encore Screening 
	<li>2021-12-04 <small>(SOLD OUT)</small>
	    <br><a href='https://sgiff.com/films/some-women/'>Singapore
	    International Film Festival</a> (World Premiere) —  with post-screening Q&A
      </ul>
    </div>
{% endblock %}
